
form {
    width: 500px;
    margin: 0 auto;
    border: 5px solid;
    background-color: #8bf3ba;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
    margin-top: 50px;
}
.form-control {
    background-color: white;
}
.form-control:focus {
    background-color: white;
}
.forgotPassword {
    float: right;
}
h1 {
    margin: 0 auto;
    margin-bottom: 10px;
    /* background-color: green; */
    padding: 5px;
    text-align: center;
    /* color: white; */
}